<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>with ビション.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8D3320087652260215F63CD6C80A8E26D349278E</string>
				<key>dateExpires</key>
				<string>2025/02/17</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D3320087652260215F63CD6C80A8E26D349278E</string>
						<key>dateExpires</key>
						<string>2025/02/17</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XF7N3YB4G5</string>
						<key>name</key>
						<string>subaru nakano</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D3320087652260215F63CD6C80A8E26D349278E</string>
						<key>dateExpires</key>
						<string>2025/02/17</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XF7N3YB4G5</string>
						<key>name</key>
						<string>subaru nakano</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D3320087652260215F63CD6C80A8E26D349278E</string>
						<key>dateExpires</key>
						<string>2025/02/17</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XF7N3YB4G5</string>
						<key>name</key>
						<string>subaru nakano</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XF7N3YB4G5.com.with-bishon</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XF7N3YB4G5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>246120a3-60ca-415c-b9e4-69b79a494593</string>
				<key>dateExpires</key>
				<string>2025/02/17</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.with-bishon</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XF7N3YB4G5</string>
				<key>name</key>
				<string>subaru nakano</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.1</string>
		</dict>
	</array>
</dict>
</plist>
